:root {
  --color-grey: #6f7682;
  --color-blue: #4798de;
  --color-white: #ffff;
  --color-border: #979595;
  --color-green: #6cdb7e;
  --color-light: #f1f2f6;
  --color-darkblue:#15244f;
  --color-black:#333333;
}
