.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 21px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
  border-bottom: 1px solid var(--color-grey);
}
.header__logo {
  margin-right: 29px;
}
.header__menu {
  display: flex;
  gap: 39px;
}
.header__menu-link {
  display: flex;
  text-decoration: none;
  color: var(--color-grey);
}
.header__login {
  display: flex;
  justify-content: space-between;
  gap: 12.5px;
  cursor: pointer;
  margin-left: auto;
}
.header__login-item {
}
.header__login-log {
  display: flex;
  align-items: center;
  color: var(--color-grey);
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
}
.header__catalog {
  display: flex;
  gap: 25px;
  cursor: pointer;
  margin-right: 31px;
}
.header__catalog-item {
}
.header__catalog-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-blue);
}
.header__search {
  display: flex;
  width: 439px;
  height: 50px;
  background: var(--color-white);
  margin-right: 30px;
}
.header__search-input {
  width: 100%;
  border: 1px solid var(--color-border);
  outline: none;
  padding-left: 20px;
  font-size: 14px;
}
.header__search-input::placeholder {
  display: flex;
  color: var(--color-grey);
}
.header__search-btn {
  display: flex;
  align-items: center;
  padding: 11px 18px 11px 28px;
  background: var(--color-blue);
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.search-svg {
}
.header__phone {
  cursor: pointer;
}
.header__phone-num {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--color-grey);
  text-decoration: none;
  opacity: 0.9;
  padding-bottom: 5px;
}
.header__phone-text {
  color: var(--color-green);
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.links {
  display: flex;
  gap: 40px;
}
.links__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.links__box-text {
  font-size: 13px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-blue);
}
